/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: 'Poppins', sans-serif; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.section-cities {
  padding: 9rem 0; }

.section-review {
  padding: 7rem 0;
  background-color: #e6e4e4; }

.heading-primary-light {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 1000; }

.heading-primary-dark {
  color: #5e5e5e;
  font-size: 3.5rem;
  font-weight: 1000; }

.heading-box-image {
  color: #fff;
  z-index: 100;
  position: absolute;
  bottom: 23%;
  left: 6%;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 1px; }

.paragraph-light {
  color: #fff;
  font-size: 1.5rem; }

.paragraph-black {
  color: #5e5e5e;
  font-size: 1.5rem; }

.paragraph-review {
  color: #5e5e5e;
  font-size: 1.7rem; }

.blockquote {
  color: #5e5e5e;
  font-size: 1.7rem; }

.form__group {
  margin-top: 1.5rem; }

.form__input {
  padding: 1rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  width: 60%;
  display: inline-block; }
  .form__input:focus {
    outline: none; }
  .form__input::placeholder {
    color: #5e5e5e;
    text-align: left; }

.form__submit {
  display: inline-block;
  padding: 1rem;
  margin-left: 1rem;
  border: none;
  border-radius: 2px;
  background-color: #00d7fd; }
  .form__submit:focus {
    outline: none; }

footer {
  padding: 8rem 0;
  background-color: #333; }

.footer-nav {
  list-style: none; }
  .footer-nav__list {
    display: inline-block;
    margin-right: 2rem; }
  .footer-nav__links {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: grey;
    font-size: 1.5rem; }

.social-links {
  list-style: none; }
  .social-links li {
    float: right;
    margin-left: 2rem;
    display: inline-block;
    font-size: 3rem; }
  .social-links .instagram-icon {
    color: #517fa4; }
  .social-links .twitter-icon {
    color: #00aced; }
  .social-links .google-icon {
    color: #dd4b39; }

.footer-paragraph {
  font-size: 1.2rem;
  color: grey; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 100vh;
  background-image: url(../img/Travel.jpg);
  background-position: center;
  background-size: cover; }
  .header__box {
    padding-top: 3.5rem;
    padding-right: 4rem;
    padding-bottom: 6.8rem;
    background-color: rgba(13, 87, 161, 0.897); }
  .header__logo {
    position: absolute;
    top: 1%;
    left: 2%;
    width: 5.8%; }
  .header__navigation {
    float: right; }
  .header__list {
    list-style: none;
    font-size: 1.8rem;
    font-weight: 1000;
    word-spacing: 2.2rem; }
  .header__item {
    display: inline-block;
    margin-top: .8rem;
    margin-right: 2rem; }
  .header__link {
    text-decoration: none;
    color: #fff; }
  .header__text {
    position: absolute;
    top: 61%;
    left: 8%; }

.box-1 {
  margin-left: 14.3rem;
  margin-bottom: 5rem; }

.box-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative; }
  .box-2__image {
    max-width: 100%;
    margin-bottom: 1.5rem; }
  .box-2__button .btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 1000;
    color: #070404;
    background-color: #00d7fd;
    border-radius: 1rem; }

.review {
  padding: 25rem 0;
  background-color: #e6e4e4;
  position: relative; }
  .review__text {
    padding: 2rem 3rem;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    bottom: 11%;
    left: 15%;
    z-index: 300; }
  .review__img {
    position: absolute;
    bottom: 2.5%;
    left: 45%;
    z-index: 200; }
  .review__wheezy {
    margin-top: 1rem;
    border-radius: 50px;
    vertical-align: middle; }
  .review__words {
    margin-left: 1rem; }
  .review__quotes {
    font-size: 4rem;
    color: #2dfa25; }
