* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.section-cities {
    padding: 9rem 0;
}

.section-review {
    padding: 7rem 0;
    background-color: #e6e4e4;
}

