footer {
    padding: 8rem 0;
    background-color: #333;
}

.footer-nav {
    list-style: none;
    
    &__list {
        display: inline-block;
        margin-right: 2rem;
    }

    &__links {
        font-family: 'Lato', sans-serif;
        text-decoration: none;
        color: grey;
        font-size: 1.5rem;
    }
}

.social-links {
    list-style: none;

    li {
        float: right;
        margin-left: 2rem;
        display: inline-block;
        font-size: 3rem;
    }

    .instagram-icon {
        color: #517fa4;
    }
    
    .twitter-icon {
        color: #00aced;
    }
    
    .google-icon {
        color: #dd4b39;
    }
}

.footer-paragraph {
    font-size: 1.2rem;
    color: grey;
}